{% extends "layout.html" %}
{% set bodyId = "contentIndex" %}


{% block title %}

    <title>Conversor de moedas!</title>

{% endblock title %}
{% block styles %}
    <link rel="stylesheet" href="/styles/conversor.css">
{% endblock styles %}

    {% block contentPage %}
        <header>
            <nav>
                <ul>
                    <li><a href"#">Inicio</a></li>
                    <li><a href"#">Baixar</a></li>
                    <li><a href"#">Ajuda</a></li>
                </ul>
            </nav>
            <div class="alternateMode">
                <button>Light</button>
                <button>Black</button>
            </div>
        </header>
        <main>
            <div class="selectsType">
                <select name="typeConversionBase">
                    <option value="">Selecione um tipo de moeda</option>
                    <option value="BRL">BRL</option>
                </select>
                    <div class="imagesSpan">
                        <span></span>
                        <span></span>
                    </div>
                    
                <select name="typeConversionMutacioned">
                    <option value="">Selecione um tipo de moeda</option>
                    <option value="BRL">BRL</option>
                </select>
            </div>


            <div class="contentRight">
                
                <div class="header-inputToConversion">
                    <h1>Converta sua moeda agora!</h1>
                        <span></span>
                </div>
                <div class="inputsToConversion">
                    <input type="number" name="input1" placeholder="">
                            <span></span>
                    <input type="number" name="input2" placeholder="">
                </div>
            
            </div>
            
        </main>
    {% endblock contentPage %}

    {% block scripts %}
        <script src="/scripts/script.js"></script>
    {% endblock scripts %}