@import "_reset.scss";
@import "_mixins.scss";

*{
    box-sizing: border-box;
}
body {
    background-image: url('../images/Group\ 1.svg');
    background-position: bottom;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-shadow:0 4px 7px rgba($color: #000000, $alpha: 0.05) ;
    width: 100vw;
    height: 12vh;
    
    nav ul{
        @include flexCenter(row);       
        list-style-type: none;
        li{
            padding: 10px;
        }
    }
    .alternateMode{
        @include flexCenter(row);
        padding: 10px;
        button{
            margin: 0 10px;
            width: 8.57vw;
            height: 100%;
            }
    }
}
main {
    display: flex;
    
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 0 auto;
    .selectsType{
        display: flex;
        flex-direction: column;
        padding: 20px;
        width: 20%;


        .imagesSpan{
            display: flex;
            margin: 15px 0;

            span {                
                display: flex;
                width: 16px;
                height: 16px;
                background-image: url('../images/right-arrow\ 2.svg');
                
            }
            span:nth-child(2){
                margin: 0;       
                background-image: url('../images/right-arrow\ 2.svg');
                transform: rotate(180deg);
                
            }
        }
        
        align-items: center;
        option{
            width: 50px;
        }

        
    }
    .contentRight{
        display: flex;
        flex-direction: column;
        padding: 20px;
        width: 70%;
        justify-content: center;
        align-items: center;

        .header-inputToConversion{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h1{
                color: rgb(80, 79, 79);
            }
            span{
                display: flex;
                width: 24px;
                height: 24px;
                background-image: url('../images/right-arrow\ 2.svg');
                background-repeat: no-repeat;
            }
           
        }
        input{
            width: 250px;
            height: 40px;
            border: 2px solid rgba(0, 0, 0, 0.3);
            box-sizing: border-box;
            border-radius: 20px;
        }
    }
}
